html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Tahoma;
  background: hsl(0, 0%, 0%);
}

.font1{
    font-size: 120px;
    text-align: center;
    font-style: bold;
    color:rgb(255, 255, 255)

}

.font2{
    font-size: 30px;
    text-align: center;
    color:rgb(255, 255, 255)

}

